Проект «Форум с ветками-обсуждениями, с обязательной реализацией
групповых ролей: гость, посетитель, модератор, администратор» включает в себя несколько модулей, обеспечивающих полную функциональность для общения между посетителями и контроль форума модераторами  и администраторами.
Для реализации системы необходимо разработать следующие модули:
1.Реализация функционала регистрации и входа пользователя
2.Возможность восстановления пароля
3.Определение роли пользователя: гость, посетитель, модератор, администратор
4.Автоматический выход пользователя после сессии неактивности
5.Защита от атак подбора пароля и перехвата сессии
6.Создание, редактирование и удаление учетных записей администраторов и модераторов
7.Установка прав доступа для каждой роли
8.Возможность блокировки пользователей за нарушение правил форума
9.Просмотр и редактирование профиля пользователя
10.Создание новой ветки с названием и описанием
11.Отображение списка доступных веток
12.Возможность просмотра и редактирования информации о ветке
13.Возможность удаления ветки
14.Создание нового сообщения в определенной ветке
15.Возможность редактирования и удаления своего сообщения
16.Добавление комментариев к сообщениям
17.Возможность отправки жалобы на сообщение
18.Возможность модерации сообщений: удаление, блокировка, отметка о нарушении правил
19.Возможность пополнения баланса сайта
20.Надёжное хранение цифровых товаров
21.Надёжное хранение материальных средств пользователей
22.Возможность обмена внутрифорумной валюты на цифровой товар
23.Отправка уведомления пользователю о новых сообщениях в отслеживаемых ветках
24.Показ уведомлений в интерфейсе пользователя или отправка по электронной почте
25.Возможность настройки предпочтений уведомлений для каждой роли
26.Отображение правил форума для каждой роли
27.Возможность редактирования и обновления правил
28.Показ предупреждающих сообщений при нарушении правил
29.Возможность просмотра статистики активности пользователей
30.Генерация отчетов о популярности веток и сообщений
31.Отображение общего числа пользователей и активных сессий